.patient-card {
  .patient-card-options {
    ul {
      list-style: none;
      padding: 0;

      li {
        display: inline-block;

        .far {
          font-size: 1.5em;
          margin: 0 5px 0 5px;
          cursor: pointer;
        }

        .far:hover {
          opacity: 0.5;
        }

      }
    }
  }
  .patient-card-header {
    .patient-image {
      display: inline-block;
      $local-patient-image-width: 100px;
      $local-patient-image-height: 130px;
      width: $local-patient-image-width;
      height: $local-patient-image-height;
      background: $colorLightHighlight;
      overflow: hidden;
      border: $colorDarkHighlight 1px solid;

      .far, .fas {
        line-height: $local-patient-image-height;
        font-size: $local-patient-image-width / 1.2;
        width: $local-patient-image-width;
        text-align: center;
        color: $colorDarkHighlight;
      }
    }

    .patient-card-header-info {
      padding-left: 20px;
      display: inline-block;
      vertical-align: top;

      .patient-card-header-name-age-holder {
        font-size: 1.4em;

        .patient-card-header-name {
          font-weight: bold;
        }
      }

      .patient-card-header-data-holder {
        padding-left: 20px;
        color: $colorVeryDarkHighlight;
      }
    }
  }

  .patient-card-select-selected {
    display: grid;
    grid-template-columns: 120px 50px auto;
    grid-template-rows: auto;

    grid-template-areas:
    "select . selected";

    .patient-card-select {
      grid-area: select;

      ul {
        list-style: none;
        padding: 0;

        li {
          margin: 10px 0 10px 0;
          cursor: pointer;
        }

        li p {
          background: $colorLightHighlight;
          margin: 0;
          padding: 5px;
          border-radius: 5px;
        }
      }
    }

    .patient-card-selected {
      grid-area: selected;

      table {
        tr {
          th:nth-child(1) {
            width: 200px;
          }

          th:nth-child(2) {
            width: 600px;
          }

          th:nth-child(3) {
            width: 100px;
          }

          td:nth-child(3n) {
            text-align: center;
          }
        }

        th, td {
          border-bottom: 1px solid #ddd;
          padding: 10px;

          .far {
            font-size: 1.3em;
            margin: 5px;
            cursor: pointer;
          }

          .far:hover {
            opacity: 0.5;
          }
        }

        textarea {
          width: 100%;
          outline: none;
          resize: none;
        }
      }

      .patient-card-selected-barthel {
        .fa-redo {
          margin-right: 10px;
          font-size: 1.3em;
          vertical-align: middle;
          cursor: pointer;
        }

        .fa-redo:hover {
          opacity: 0.5;
        }

        form {
          margin-bottom: 50px;
        }

        form select, form input, form p {
          display: inline-block;
        }

        form p {
          width: 250px;
        }

        form select, form input {
          outline: none;
          border-radius: 0;
          border: 1px solid black;
          margin-left: 50px;
          width: 250px;
        }

        form input[type="text"] {
          border: none!important;
        }

        form input[type="submit"] {
          cursor: pointer;
        }

        form input[type="submit"]:hover {
          background-color: #d2d2d2;
        }

        form select option:nth-child(1), form select {
          background-color: rgba(0, 128, 0, 0.45);
        }

        form select option:nth-child(2) {
          background-color: rgba(255, 255, 0, 0.45);
        }

        form select option:nth-child(3) {
          background-color: rgba(255, 165, 0, 0.45);
        }

        form select option:nth-child(4), form select option:nth-last-child(1)  {
          background-color: rgba(255, 0, 0, 0.45);
        }

        form label {
          border-bottom: 1px solid #ddd;
        }

        form label {
          display: block;
        }
      }
    }
  }

}