.patient-search-card {
  display: grid;
  grid-template-columns: 350px 50px auto;
  grid-template-rows: auto;
  padding: 0 25px 0 25px;

  grid-template-areas:
    "search . card";

  .patient-search {
    grid-area: search;
  }

  .patient-card {
    grid-area: card;
  }

  .patient-new {
    grid-area: card;
  }
}