html, body, input, select, textarea, button {
  font-family: $fontMain;
}

input, select, textarea, button {
  font-size: 1em;
}

.hidden {
  display: none!important;
  visibility: hidden!important;
}